[defaults]
roles_path = ./roles
retry_files_enabled = False
host_key_checking = False

[galaxy]
server_list = automation_hub, galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJleHAiOjE3ODk1ODE3MDUsImlhdCI6MTc4Njk4OTcwNSwianRpIjoiODRhYjNlZTEtMjgyYS1kMDE2LTlmYjYtZDBiMDBmNjMwM2ZhIiwiaXNzIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJhdWQiOiJodHRwczovL3Nzby5yZWRoYXQuY29tL2F1dGgvcmVhbG1zL3JlZGhhdC1leHRlcm5hbCIsInN1YiI6IjUzMTM4NTY1IiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiI5OTY3MGY5ZC0wMmIwLTQwYTEtYjNmOC1jOTk3OGE0NGJiOGQiLCJzaWQiOiI4MzQ4OTI2Mi1mNWI5LTBlYzAtMjdjNi0xYWNlMTgyNGYwMGMiLCJzY29wZSI6Im9wZW5pZCBhcGkuY29uc29sZSBiYXNpYyByb2xlcyB3ZWItb3JpZ2lucyBjbGllbnRfdHlwZS5wcmVfa2MyNSBhcGkuYXNrX3JlZF9oYXQgb2ZmbGluZV9hY2Nlc3MifQ.PK8KQerKJcxtFSffyF3TGnd-TawO7pajkb-lCctRtbWdEKKe4AXstJ2BQxPugiCvo_zMHpNqPtcCQKsWrny8jQ

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/

