# Managed by Ansible Automation Platform

ClientAliveInterval {{ enterprise_ssh_baseline_client_alive_interval }}
ClientAliveCountMax {{ enterprise_ssh_baseline_client_alive_count_max }}
MaxAuthTries {{ enterprise_ssh_baseline_max_auth_tries }}
