# Managed by Ansible Automation Platform

ClientAliveInterval {{ enterprise_ssh_client_alive_interval }}
ClientAliveCountMax {{ enterprise_ssh_client_alive_count_max }}
MaxAuthTries {{ enterprise_ssh_max_auth_tries }}
